# Python build artifacts
__pycache__/
*.py[cod]
build/
dist/
ollama_jupyter_ai.egg-info/

# Node/TypeScript build artifacts
node_modules/
ollama_jupyter_ai/static/
ollama_jupyter_ai/labextension/lib/
tsconfig.tsbuildinfo
.yarn/
# Development
.ipynb_checkpoints
.vscode/
.DS_Store

# Local Ollama

venv/
